@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body{
  padding: 0;
  margin: 0;
  color: rgb(69, 90, 113);
  font-family: 'Shadows Into Light', cursive;
  }

  .header-wrapper{
    height: 100vh;
    width: 100%;
    justify-content: center;
    position: relative;
    background-size: 400% 800%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
  }

  .header{
    height: 100vh;
    width: 100%;
    justify-content: center;
    position: relative;
    background-size: 400% 800%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;

  }


  h1{
    font-size: 400%;
    letter-spacing: 4px;
    font-weight: 80;

  }

  p{
    font-size: 150%;
    letter-spacing: 2px;
  }

  .ImagensFileira{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .Imagem{
    width: 200px;
    height: 250px;
    transition: 0.9s;
    margin: 5px;
     
  }


  .Imagem:hover{
    width: 400px;
    height: 480px;
    
  }



  .checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
  }



  .checkbox .trace{
    width: 45px;
    height: 2.5px;
    background-color:rgb(69, 90, 113);
    position: absolute;
    border-radius: 5px;
    transition: 0.5s;
  }

  .checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
  }

  #toggle{
    display: none;
  }
  

  #toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
  
  }
  
  #toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
  
  }
  
  #toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
  
  }






  .menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px, 0px, 0px, 0px white;
    z-index: -1;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
    
  }

  .menu-itens{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
    transition:  400ms ease-in-out 0;
  
  }



  .menu-itens ul{
    list-style-type: none;
  }

  .menu-itens ul li a{
    color: black;
    text-decoration: none;
    margin: 10px 0;
    font-size: 40px;

  }

  


  #toggle:checked + .checkbox ~ .menu{
    box-shadow:  0px 0px 0px 100vmax rgb(248, 245, 245);
    z-index: 1;
    visibility: visible;
    transition:  400ms ease-in-out 0;
  }

  #toggle:checked + .checkbox ~ .menu-itens{
    opacity: 1;
    transition:  400ms ease-in-out 0;
  }



  
 

  @keyframes backgroundTransition {
    0%{
      background-position: 0% 80%;
    }
    50%{
      background-position: 80% 100%;
    }
    100%{
      background-position: 100% 75%;
    }

  
  }

  /*background: linear-gradient(-45deg, rgb(239, 239, 187), rgb(228, 236, 242), rgb(134, 191, 212));
  animation: backgroundTransition 8s ease-in infinite;